
.ii-alarm-light-outline:before { content: '\e800'; } /* '' */
.ii-arrow-down:before { content: '\e801'; } /* '' */
.ii-arrow-left:before { content: '\e802'; } /* '' */
.ii-arrow-right:before { content: '\e803'; } /* '' */
.ii-arrow-top-right-bottom-left:before { content: '\e804'; } /* '' */
.ii-arrow-up:before { content: '\e805'; } /* '' */
.ii-attachment:before { content: '\e806'; } /* '' */
.ii-ban:before { content: '\e807'; } /* '' */
.ii-bell-check-outline:before { content: '\e808'; } /* '' */
.ii-bell-crossed-outline:before { content: '\e809'; } /* '' */
.ii-bell-outline:before { content: '\e80a'; } /* '' */
.ii-bell-plus-outline:before { content: '\e80b'; } /* '' */
.ii-bell:before { content: '\e80c'; } /* '' */
.ii-book-outline:before { content: '\e80d'; } /* '' */
.ii-bookmark-outline:before { content: '\e80e'; } /* '' */
.ii-bookmark:before { content: '\e80f'; } /* '' */
.ii-building-outline:before { content: '\e810'; } /* '' */
.ii-calendar-event-outline:before { content: '\e811'; } /* '' */
.ii-camera-outline:before { content: '\e812'; } /* '' */
.ii-camera-vintage-outline:before { content: '\e813'; } /* '' */
.ii-caret-down:before { content: '\e814'; } /* '' */
.ii-caret-left:before { content: '\e815'; } /* '' */
.ii-caret-right:before { content: '\e816'; } /* '' */
.ii-caret-up:before { content: '\e817'; } /* '' */
.ii-cart-outline:before { content: '\e818'; } /* '' */
.ii-cart:before { content: '\e819'; } /* '' */
.ii-check:before { content: '\e81a'; } /* '' */
.ii-chevron-down:before { content: '\e81b'; } /* '' */
.ii-chevron-left:before { content: '\e81c'; } /* '' */
.ii-chevron-right:before { content: '\e81d'; } /* '' */
.ii-chevron-up:before { content: '\e81e'; } /* '' */
.ii-dislike-fill:before { content: '\e81f'; } /* '' */
.ii-dislike-outline:before { content: '\e820'; } /* '' */
.ii-document-with-lines-outline:before { content: '\e821'; } /* '' */
.ii-ellipsis-horizontal-outline:before { content: '\e822'; } /* '' */
.ii-ellipsis-horizontal:before { content: '\e823'; } /* '' */
.ii-ellipsis-vertical-fill:before { content: '\e824'; } /* '' */
.ii-export:before { content: '\e825'; } /* '' */
.ii-flag-outline:before { content: '\e826'; } /* '' */
.ii-gift-outline:before { content: '\e827'; } /* '' */
.ii-grid-sharp-outline:before { content: '\e828'; } /* '' */
.ii-grid-sharp:before { content: '\e829'; } /* '' */
.ii-heart-outline:before { content: '\e82a'; } /* '' */
.ii-heart:before { content: '\e82b'; } /* '' */
.ii-home-outline:before { content: '\e82c'; } /* '' */
.ii-home:before { content: '\e82d'; } /* '' */
.ii-info-circle-outline:before { content: '\e82e'; } /* '' */
.ii-like-outline:before { content: '\e82f'; } /* '' */
.ii-like:before { content: '\e830'; } /* '' */
.ii-list-card:before { content: '\e831'; } /* '' */
.ii-list-line:before { content: '\e832'; } /* '' */
.ii-location-outline:before { content: '\e833'; } /* '' */
.ii-lock-outline:before { content: '\e834'; } /* '' */
.ii-lock:before { content: '\e835'; } /* '' */
.ii-magic-wand-outline:before { content: '\e836'; } /* '' */
.ii-map-search-outline:before { content: '\e837'; } /* '' */
.ii-medal-outline:before { content: '\e838'; } /* '' */
.ii-menu:before { content: '\e839'; } /* '' */
.ii-message-dots-outline:before { content: '\e83a'; } /* '' */
.ii-message-question-outline:before { content: '\e83b'; } /* '' */
.ii-minus:before { content: '\e83c'; } /* '' */
.ii-moon-over-sun:before { content: '\e83d'; } /* '' */
.ii-moon:before { content: '\e83e'; } /* '' */
.ii-navigate-outline:before { content: '\e83f'; } /* '' */
.ii-pen-outline:before { content: '\e840'; } /* '' */
.ii-phone-call-outline:before { content: '\e841'; } /* '' */
.ii-picture-frame-outline:before { content: '\e842'; } /* '' */
.ii-plus-circle:before { content: '\e843'; } /* '' */
.ii-plus:before { content: '\e844'; } /* '' */
.ii-question-circle-outline:before { content: '\e845'; } /* '' */
.ii-question-circle:before { content: '\e846'; } /* '' */
.ii-refresh:before { content: '\e847'; } /* '' */
.ii-remove:before { content: '\e848'; } /* '' */
.ii-search:before { content: '\e849'; } /* '' */
.ii-settings-outline:before { content: '\e84a'; } /* '' */
.ii-star-outline:before { content: '\e84b'; } /* '' */
.ii-star:before { content: '\e84c'; } /* '' */
.ii-sun:before { content: '\e84d'; } /* '' */
.ii-trash-outline:before { content: '\e84e'; } /* '' */
.ii-trophy-outline:before { content: '\e84f'; } /* '' */
.ii-truck-outline:before { content: '\e850'; } /* '' */
.ii-user-outline:before { content: '\e851'; } /* '' */
.ii-user:before { content: '\e852'; } /* '' */
.ii-wallet-outline:before { content: '\e853'; } /* '' */
.ii-warning-circle-outline:before { content: '\e854'; } /* '' */
.ii-warning-circle:before { content: '\e855'; } /* '' */
.ii-warning-triangle-outline:before { content: '\e856'; } /* '' */
.ii-warning-triangle:before { content: '\e857'; } /* '' */
