@font-face {
  font-family: 'inticon';
  src: url('fonts/font/inticon.eot?9229144');
  src: url('fonts/font/inticon.eot?9229144#iefix') format('embedded-opentype'),
    url('fonts/font/inticon.woff2?9229144') format('woff2'),
    url('fonts/font/inticon.woff?9229144') format('woff'),
    url('fonts/font/inticon.ttf?9229144') format('truetype'),
    url('fonts/font/inticon.svg?9229144#inticon') format('svg');
  font-weight: normal;
  font-style: normal;
}
