@font-face {
  font-family: 'inticon';
  src: url('./font/inticon.eot');
  src: url('./font/inticon.eot#iefix') format('embedded-opentype'),
    url('./font/inticon.woff2') format('woff2'),
    url('./font/inticon.woff') format('woff'),
    url('./font/inticon.ttf') format('truetype'),
    url('./font/inticon.svg#inticon') format('svg');
  font-weight: normal;
  font-style: normal;
}
