@charset "UTF-8";
@font-face {
  font-family: 'inticons';
  src: url("./font/inticons.eot");
  src: url("./font/inticons.eot#iefix") format("embedded-opentype"), url("./font/inticons.woff2") format("woff2"), url("./font/inticons.woff") format("woff"), url("./font/inticons.ttf") format("truetype"), url("./font/inticons.svg#inticons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^='ii-']:before,
[class*=' ii-']:before {
  font-family: 'inticons';
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.ii-alarm-light-outline:before {
  content: '\e800'; }

/* '' */
.ii-arrow-down:before {
  content: '\e801'; }

/* '' */
.ii-arrow-in-box-left-outline:before {
  content: '\e802'; }

/* '' */
.ii-arrow-left:before {
  content: '\e803'; }

/* '' */
.ii-arrow-right:before {
  content: '\e804'; }

/* '' */
.ii-arrow-top-right-bottom-left:before {
  content: '\e805'; }

/* '' */
.ii-arrow-up:before {
  content: '\e806'; }

/* '' */
.ii-attachment:before {
  content: '\e807'; }

/* '' */
.ii-ban:before {
  content: '\e808'; }

/* '' */
.ii-bell-check-outline:before {
  content: '\e809'; }

/* '' */
.ii-bell-check:before {
  content: '\e80a'; }

/* '' */
.ii-bell-crossed-outline:before {
  content: '\e80b'; }

/* '' */
.ii-bell-outline:before {
  content: '\e80c'; }

/* '' */
.ii-bell-plus-outline:before {
  content: '\e80d'; }

/* '' */
.ii-bell:before {
  content: '\e80e'; }

/* '' */
.ii-blocks-question-outline:before {
  content: '\e80f'; }

/* '' */
.ii-book-outline:before {
  content: '\e810'; }

/* '' */
.ii-bookmark-outline:before {
  content: '\e811'; }

/* '' */
.ii-bookmark:before {
  content: '\e812'; }

/* '' */
.ii-building-outline:before {
  content: '\e813'; }

/* '' */
.ii-calendar-event-outline:before {
  content: '\e814'; }

/* '' */
.ii-camera-outline:before {
  content: '\e815'; }

/* '' */
.ii-camera-vintage-outline:before {
  content: '\e816'; }

/* '' */
.ii-caret-down:before {
  content: '\e817'; }

/* '' */
.ii-caret-left:before {
  content: '\e818'; }

/* '' */
.ii-caret-right:before {
  content: '\e819'; }

/* '' */
.ii-caret-up:before {
  content: '\e81a'; }

/* '' */
.ii-cart-outline:before {
  content: '\e81b'; }

/* '' */
.ii-cart:before {
  content: '\e81c'; }

/* '' */
.ii-check-circle-outline:before {
  content: '\e81d'; }

/* '' */
.ii-check-circle:before {
  content: '\e81e'; }

/* '' */
.ii-check-square:before {
  content: '\e81f'; }

/* '' */
.ii-check:before {
  content: '\e820'; }

/* '' */
.ii-chevron-down:before {
  content: '\e821'; }

/* '' */
.ii-chevron-left:before {
  content: '\e822'; }

/* '' */
.ii-chevron-right:before {
  content: '\e823'; }

/* '' */
.ii-chevron-up:before {
  content: '\e824'; }

/* '' */
.ii-circle-dot-outline:before {
  content: '\e825'; }

/* '' */
.ii-circle-outline:before {
  content: '\e826'; }

/* '' */
.ii-clock-outline:before {
  content: '\e827'; }

/* '' */
.ii-clock:before {
  content: '\e828'; }

/* '' */
.ii-comment-outline:before {
  content: '\e829'; }

/* '' */
.ii-compression:before {
  content: '\e82a'; }

/* '' */
.ii-dislike-outline:before {
  content: '\e82b'; }

/* '' */
.ii-dislike:before {
  content: '\e82c'; }

/* '' */
.ii-document-with-lines-outline:before {
  content: '\e82d'; }

/* '' */
.ii-door-out:before {
  content: '\e82e'; }

/* '' */
.ii-download-document-outline:before {
  content: '\e82f'; }

/* '' */
.ii-ellipsis-horizontal-outline:before {
  content: '\e830'; }

/* '' */
.ii-ellipsis-horizontal:before {
  content: '\e831'; }

/* '' */
.ii-ellipsis-vertical-fill:before {
  content: '\e832'; }

/* '' */
.ii-expansion:before {
  content: '\e833'; }

/* '' */
.ii-export:before {
  content: '\e834'; }

/* '' */
.ii-eye:before {
  content: '\e835'; }

/* '' */
.ii-flag-outline:before {
  content: '\e836'; }

/* '' */
.ii-flag:before {
  content: '\e837'; }

/* '' */
.ii-gift-outline:before {
  content: '\e838'; }

/* '' */
.ii-grid-sharp-outline:before {
  content: '\e839'; }

/* '' */
.ii-grid-sharp:before {
  content: '\e83a'; }

/* '' */
.ii-hashtag:before {
  content: '\e83b'; }

/* '' */
.ii-headset:before {
  content: '\e83c'; }

/* '' */
.ii-heart-outline:before {
  content: '\e83d'; }

/* '' */
.ii-heart:before {
  content: '\e83e'; }

/* '' */
.ii-home-outline:before {
  content: '\e83f'; }

/* '' */
.ii-home:before {
  content: '\e840'; }

/* '' */
.ii-import:before {
  content: '\e841'; }

/* '' */
.ii-info-circle-outline:before {
  content: '\e842'; }

/* '' */
.ii-like-outline:before {
  content: '\e843'; }

/* '' */
.ii-like:before {
  content: '\e844'; }

/* '' */
.ii-link:before {
  content: '\e845'; }

/* '' */
.ii-list-card:before {
  content: '\e846'; }

/* '' */
.ii-list-line:before {
  content: '\e847'; }

/* '' */
.ii-location-outline:before {
  content: '\e848'; }

/* '' */
.ii-lock-outline:before {
  content: '\e849'; }

/* '' */
.ii-lock:before {
  content: '\e84a'; }

/* '' */
.ii-magic-wand-outline:before {
  content: '\e84b'; }

/* '' */
.ii-map-search-outline:before {
  content: '\e84c'; }

/* '' */
.ii-medal-outline:before {
  content: '\e84d'; }

/* '' */
.ii-menu:before {
  content: '\e84e'; }

/* '' */
.ii-message-dots-outline:before {
  content: '\e84f'; }

/* '' */
.ii-message-line-outline:before {
  content: '\e850'; }

/* '' */
.ii-message-question-outline:before {
  content: '\e851'; }

/* '' */
.ii-minus:before {
  content: '\e852'; }

/* '' */
.ii-moon-over-sun:before {
  content: '\e853'; }

/* '' */
.ii-moon:before {
  content: '\e854'; }

/* '' */
.ii-navigate-outline:before {
  content: '\e855'; }

/* '' */
.ii-palette-outline:before {
  content: '\e856'; }

/* '' */
.ii-paragraph:before {
  content: '\e857'; }

/* '' */
.ii-pen-outline:before {
  content: '\e858'; }

/* '' */
.ii-phone-call-outline:before {
  content: '\e859'; }

/* '' */
.ii-picture-frame-outline:before {
  content: '\e85a'; }

/* '' */
.ii-picture-square-outline:before {
  content: '\e85b'; }

/* '' */
.ii-play-circle:before {
  content: '\e85c'; }

/* '' */
.ii-play:before {
  content: '\e85d'; }

/* '' */
.ii-plus-circle:before {
  content: '\e85e'; }

/* '' */
.ii-plus:before {
  content: '\e85f'; }

/* '' */
.ii-question-circle-outline:before {
  content: '\e860'; }

/* '' */
.ii-question-circle:before {
  content: '\e861'; }

/* '' */
.ii-refresh:before {
  content: '\e862'; }

/* '' */
.ii-remove-circle:before {
  content: '\e863'; }

/* '' */
.ii-remove:before {
  content: '\e864'; }

/* '' */
.ii-search:before {
  content: '\e865'; }

/* '' */
.ii-settings-outline:before {
  content: '\e866'; }

/* '' */
.ii-slider-outline:before {
  content: '\e867'; }

/* '' */
.ii-square-outline:before {
  content: '\e868'; }

/* '' */
.ii-star-outline:before {
  content: '\e869'; }

/* '' */
.ii-star:before {
  content: '\e86a'; }

/* '' */
.ii-sun:before {
  content: '\e86b'; }

/* '' */
.ii-trash-outline:before {
  content: '\e86c'; }

/* '' */
.ii-trophy-outline:before {
  content: '\e86d'; }

/* '' */
.ii-truck-outline:before {
  content: '\e86e'; }

/* '' */
.ii-truck-timer-outline:before {
  content: '\e86f'; }

/* '' */
.ii-user-outline:before {
  content: '\e870'; }

/* '' */
.ii-user:before {
  content: '\e871'; }

/* '' */
.ii-wallet-outline:before {
  content: '\e872'; }

/* '' */
.ii-warning-circle-outline:before {
  content: '\e873'; }

/* '' */
.ii-warning-circle:before {
  content: '\e874'; }

/* '' */
.ii-warning-triangle-outline:before {
  content: '\e875'; }

/* '' */
.ii-warning-triangle:before {
  content: '\e876'; }

/* '' */
.ii-spin::before {
  animation: spin 2s infinite linear; }

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }

.ii-flip-h::before {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1); }

.ii-flip-v::before {
  transform: scaleY(-1);
  -webkit-transform: scaleY(-1); }

.ii-rotate-45::before {
  transform: rotate(45deg); }

.ii-rotate-90::before {
  transform: rotate(90deg); }

.ii-rotate-135::before {
  transform: rotate(135deg); }

.ii-rotate-180::before {
  transform: rotate(180deg); }

.ii-rotate-225::before {
  transform: rotate(225deg); }

.ii-rotate-270::before {
  transform: rotate(270deg); }

.ii-rotate-315::before {
  transform: rotate(315deg); }

.ii-2x::before {
  font-size: 2em; }

.ii-3x::before {
  font-size: 3em; }

.ii-4x::before {
  font-size: 4em; }
