@font-face {
  font-family: 'inticons-untitled-ui';
  src: url('./font/inticons-untitled-ui.eot');
  src: url('./font/inticons-untitled-ui.eot#iefix') format('embedded-opentype'),
    url('./font/inticons-untitled-ui.woff2') format('woff2'),
    url('./font/inticons-untitled-ui.woff') format('woff'),
    url('./font/inticons-untitled-ui.ttf') format('truetype'),
    url('./font/inticons-untitled-ui.svg#inticons-untitled-ui') format('svg');
  font-weight: normal;
  font-style: normal;
}
