name: Npm Publish
on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
          persist-credentials: false
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          registry-url: "https://registry.npmjs.org"
      - name: Install Dependencies
        run: npm install

      - name: build fonts
        run: npm run build-font

      - name: Publish to npm
        run: npm publish
